@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600;900&display=swap");

.header__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header__wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
}
.header__talktome {
  width: 50%;
}
.header__skillsfrontend,
.header__skillsbackend,
.header__skillssoft {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 5px grey;
  width: 50%;
  height: 100%;
  margin-left: 10px;
  background: #fed330;
  border-radius: 2%;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
}

.about__logo > img {
  width: 5%;
  height: 5%;
}
.header__skills {
  display: flex;
  width: 90%;
  height: 60%;
  margin-top: 2%;
}
