@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600;900&display=swap");

.header__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header__wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
}
.header__talktome {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin-left: -20px;
}
.header__talktome > p {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-align: justify;
  width: 50%;
}
.header__skillsfrontend,
.header__skillsbackend,
.header__skillssoft {
  display: flex;
  position: relative;
  flex-direction: column;
  /* align-items: center; */
  box-shadow: 5px 5px 5px grey;
  width: 50%;
  height: 100%;
  margin-left: 10px;
  background: #fed330;
  border-radius: 2%;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
}
.header__skillsfrontend:hover {
  transform: translate(-10px, -10px);
  transition: 0.35s;
}
.header__skillsbackend:hover {
  transform: translate(10px, -10px);
  transition: 0.35s;
}

.header__skillssoft:hover {
  transform: translate(0px, -10px);
  transition: 0.35s;
}

.about__logo > img {
  width: 5%;
  height: 5%;
}
.header__skills {
  display: flex;
  width: 90%;
  height: 60%;
  margin-top: 2%;
}
.about__title {
  display: flex;
  justify-content: center;
}
.about__title > h1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  color: black;
}
.about__skills {
  height: 70%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.about__skills > div > h6 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
.home__picture {
  width: 20vw;
  height: 20vh;
  border-radius: 50%;
  object-fit: inherit;
  /* box-shadow: 5px 5px 5px grey; */
}
