.header__container {
  width: 100vw;
  height: 100vh;
  border: red solid 3px;
  display: flex;
  flex-direction: column;
}

.header__wrapper {
  border: black solid 1px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
}
.header__talktome {
  width: 50%;
  border: green solid 1px;
}
.header__skillsfrontend,
.header__skillsbackend {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: blueviolet 2px solid;
  width: 50%;
  height: 40%;
}
.about__logo > img {
  width: 5%;
  height: 5%;
}
.header__skills {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: crimson 1px solid;
  width: 50%;
  height: 60%;
}
