@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;900&display=swap");

.contact {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__workwithme > p {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-size: 2rem;
}
.contact__workwithme {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 100px;
}
.contact__form {
  padding: 0 100px;
}
.contact__form > p {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 3rem;
}
.form__input {
  border: none;
  border-bottom: solid 5px #fed330;
  width: "20%";
  outline: none;
  font-weight: 400;
  font-size: 40px;
  padding: 0 10px;
  caret-color: #fed330;
  color: #fed330;
  font-family: "Titillium Web", sans-serif;
  font-size: 3rem;
}
.form__inputthree {
  border: none;
  border-bottom: solid 5px #fed330;
  width: 550px;
  outline: none;
  font-weight: 400;
  font-size: 40px;
  padding: 0 10px;
  caret-color: #fed330;
  color: #fed330;
  font-family: "Titillium Web", sans-serif;
  font-size: 3rem;
}
.form__inputtwo {
  border: none;
  border-bottom: solid 5px #fed330;
  width: 250px;
  outline: none;
  font-weight: 400;
  font-size: 40px;
  padding: 0 30px;
  caret-color: #fed330;
  color: #fed330;
}
.contact__form > button {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.contact__form > button > p {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  cursor: pointer;
  font-size: 1.5rem;
}
