@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;900&display=swap");

.contact {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__workwithme > p {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-size: 2rem;
}
.contact__workwithme {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 100px;
}
.contact__form {
  padding: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact__form > p {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  color: black;
}
.form__input {
  border: none;
  border-bottom: solid 5px #fed330;
  width: "20%";
  outline: none;
  font-weight: 400;
  font-size: 40px;
  padding: 0 10px;
  caret-color: #fed330;

  font-family: "Titillium Web", sans-serif;
  font-size: 3rem;
}
.form__inputthree {
  border: none;
  border-bottom: solid 5px #fed330;
  width: 550px;
  outline: none;
  font-weight: 400;
  font-size: 40px;
  padding: 0 10px;
  caret-color: #fed330;

  font-family: "Titillium Web", sans-serif;
  font-size: 3rem;
}
.form__inputtwo {
  border: none;
  border-bottom: solid 5px #fed330;
  width: 250px;
  outline: none;
  font-weight: 400;
  font-size: 40px;
  padding: 0 30px;
  caret-color: #fed330;
}

.contact__btnsubmit {
  border: 2px solid black;
  width: 50px;
  height: 50px;
  background-color: lawngreen;
  color: red;
}
.error {
  font-family: "Titillium Web", sans-serif;
  font-size: 2rem;
  color: red;
}
.btn__send {
  width: 50%;
  height: 20%;
  border-radius: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fed330;
  cursor: pointer;
  outline: none;
}
.btn__nosend {
  width: 70%;
  height: 40%;
  border-radius: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 480px) {
  .contact {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact__workwithme > p {
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
    font-size: 2em;
  }
  .contact__form {
    padding: 0 20px;
  }

  .contact__form > p {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-size: 2em;
    color: black;
  }
  .form__input {
    border: none;
    border-bottom: solid 5px #fed330;
    width: 250px;
    outline: none;
    font-weight: 400;
    font-size: 0.8em;
    padding: 0 0px;
    caret-color: #fed330;
    font-family: "Titillium Web", sans-serif;
    margin-right: 10px;
  }
  .form__inputthree {
    border: none;
    border-bottom: solid 5px #fed330;
    width: 300px;
    outline: none;
    font-weight: 400;
    font-size: 0.8em;
    padding: 0 0px;
    caret-color: #fed330;
    font-family: "Titillium Web", sans-serif;
    margin-right: 10px;
  }
  .form__inputtwo {
    border: none;
    border-bottom: solid 5px #fed330;
    width: 250px;
    font-size: 0.8em;
    padding: 0 0px;
    caret-color: #fed330;
    margin-right: 10px;
  }
  .contact__forminputpara {
    font-size: 0.5em;
  }
  .btn__send {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 768px) {
}
