@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;900&display=swap");

.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home {
  display: flex;
  width: 100vw;
  margin-top: 2%;
  align-items: center;
  justify-content: center;
  position: relative;
}
.home__textleft {
  height: 79px;
  width: 70vw;
  display: flex;
  align-items: center;
  margin-top: 100px;
  position: absolute;
  left: 300px;
}

.home__textright {
  width: 50vw;
  height: 50vh;
  display: flex;
  /* align-items: center; */
  margin-top: 2%;
  flex-direction: column;
}
/* .home__textright {
  display: flex;
} */

.home__social {
  width: 80%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  /* justify-content: space-between; */
}

.home__picture {
  width: 80%;
  height: 80%;
  /* border-radius: 50%; */
  object-fit: fill;
}
.home__textleft > p {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-size: 70px;
  margin-left: 100px;
}
.home__textright > p {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  text-align: justify;
  margin-left: 50px;
  margin-right: 100px;
}
.home__textleft {
  position: relative;
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-size: 65px;
  margin-left: 100px;
  overflow: hidden;
}
.home__textleft .box {
  position: absolute;
  bottom: 0;
  display: inline-block;
  background: #fed330;
  width: 8px;
  height: 1vw;
  z-index: -1;
}
.home__textleft .hi {
  display: inline-block;
}
.text {
  margin-left: 10px;
}
.home__media {
  position: absolute;
  bottom: -100px;
  left: 400px;
  width: 650px;
  display: flex;
  justify-content: space-evenly;
}
.home__mediasocial {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fed330;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 768px) {
  /* .home__textleft {
    height: 79px;
    width: 140vw;
    left: 120px;
  } */
  .home__textleft {
    position: relative;
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
    font-size: 30px;
    margin-left: 100px;
    overflow: hidden;
    width: 800px;
    left: 0;
  }
  .home__textleft .box {
    position: absolute;
    bottom: 30px;
    display: inline-block;
    background: #fed330;
    width: 8px;
    height: 1vh;
    z-index: -1;
  }
  .home__media {
    left: -2%;
    display: flex;
    justify-content: center;
  }
  .home__mediasocial {
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 480px) {
  .home__textleft {
    position: relative;
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
    font-size: 22px;
    /* margin-left: 100px; */
    overflow: hidden;
    width: 200000%;
    left: -12%;
  }
  .home__textleft .box {
    position: absolute;
    bottom: 30px;
    display: inline-block;
    background: #fed330;
    width: 8px;
    height: 1vh;
    z-index: -1;
  }
  .home__media {
    left: -160px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home__mediasocial {
    width: 70px;
    height: 70px;
    margin-left: 10%;
  }
}
