@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600;900&display=swap");

.menu__container {
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  display: none;
}
.menu__secondarybackground {
  z-index: 9;
  background-color: black;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 100%;
}
.menu__layer {
  position: relative;
  background: #fed330;
  height: 100%;
  overflow: hidden;
}
.menu__containtext {
  display: flex;
}

.menu__textleft {
  width: 50vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
.menu__right {
  width: 50vw;
  height: 80vh;
  padding: 0 90px;
  display: flex;
  align-items: center;
}
.menu__nav {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-size: 4.6rem;
  margin-left: 100px;
  margin-top: 10%;
}
.menu__nav:hover {
  color: black;
}
.menu__right > p {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  text-align: justify;
  color: white;
  margin-top: 100px;
}
.menu__location {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.menu__location > p {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  margin-left: 100px;
  color: white;
}
.menu__location > span {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  margin-left: 60px;
  color: white;
  cursor: pointer;
}
.menu__location > span:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding: 8px 24px;
  border-radius: 4px;
}
a {
  color: white;
}
.menu__citybackground {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-size: cover;
  background-repeat: no-repeat;
  animation-duration: 30s;
  animation: cameraPan 30s infinite;
  /* animation-iteration-count: infinite; */
}
@keyframes cameraPan {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 40% 10%;
  }
  50% {
    background-position: 0% 10%;
  }
  75% {
    background-position: 10% 40%;
  }
  100% {
    background-position: 0% 0%;
  }
}
