@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600;900&display=swap");

.card__title {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
}
/* h1 {
  margin-left: 100px;
} */
.title {
  color: white;
  font-family: "Titillium Web", sans-serif;
}
.column {
  display: flex;
  flex-direction: column;
}
