@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;800&display=swap");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  margin-top: 20px;
  position: relative;
  z-index: 10;
}
.header__portfolio {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-size: 30px;
  color: black;
}
.header__menu {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  color: black;
  border: none;
  background: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
}
a {
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 600px;
  }
}
@media screen and (max-width: 480px) {
  .header {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }
  .header div {
    margin-right: 40px;
  }
}
